h5 {
    font-family: helvetica, impact;
    font-size: 30px;
    float: right;
    padding: 10px;
    text-align: center;
}

h2 {
    font-family: impact;
    letter-spacing: 10px;
}

h1 {
    font-family: courier;
    font-size: 20px;
    float: ;
}